.history
.vscode
logs
fatal
.idea
victoria-logs-data
dump
record
bin
.DS_Store
*.db
!plugin/record
*.flv
pullcf.yaml
admin.zip
__debug*
.cursorrules
example/default/*
!example/default/main.go
!example/default/config.yaml
